<header>
    <nav>
        <ul [ngClass]="{'light': !isDark, 'dark': isDark }">
            <li>
                <img class="invert" src="https://cutewallpaper.org/24/art-icon-png/museum-free-art-icons.png" alt="">
            </li>
            <li *ngFor="let navElement of navigatorInfo">
               <a href="{{navElement.link}}">{{navElement.content}}</a>
            </li>
            <li>
                <button (click)="changeTheme()">{{theme}}</button>
            </li>
        </ul>
    </nav>
   
    
</header>