nav {
  @media (max-width: 600px) {
    display: none;
}


   
      ul {
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
  
        button{
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
        }
    
        a {
          
          font-size: 2rem;
        
          text-transform: uppercase;
          transition: all 0.5s ease-in-out;
          color: white;
          padding: 10px;
    
          &:hover {
            
            
            color:white;
            
          }
        }
        img{
            width: 60px;
        }
      }
    }
  div{
    @media (max-width: 600px) {
      margin: 0 auto;
  }
      padding: 20px;
      text-align: center;
      color: white;
  }
.light {
    background-color: #710c0c;
    :hover{
      background-color: black;
    }
  }
  
  .dark {
    background-color: black;
    :hover{
      background-color: #710c0c;
    }
    .invert{
      -webkit-filter: invert(100%);
    filter: invert(100%);
    }
  }
  